@import "./utils/variables";
@import "./utils/mixins";
@import "./base/typography";
@import "./components/loader";
@import "./layouts/header";
@import "./layouts/footer";
@import "./pages/home";
@import "./components/button";
@import "./components/like";

.img-container{
    @include img-container;

    .img{
        @include img;

        &_2{
            top: -100px;
        }
    }
}



.menu{
    background-color: lighten($grey,50);
    padding: 2em 1.2em 2em;
    border-top-left-radius: 35px;
    border-top-right-radius: 35px;
    width:100%;
    position:relative;
    margin-top: -40px;

    .title{
        @include flex-wrap(space-between);
        align-items: baseline;
        padding-right: .5em;

        .name{
            font-family: 'shrikhand', sans-serif;
            font-size: 28px;
            font-weight: 500;
        }
    }

    .dish{
        padding-top:2em;
        animation: fadein 1.5s backwards;
        @for $i from 1 through $num-dish {
            &--#{$i} {
                animation-delay: $anim-delay2 * $i;
            }
        }

    @keyframes fadein{
        0%{
            opacity:0;
        }
        100%{
            opacity:1;
        }
    }

        .dish-type{
            font-size: 18px;
        }

        .choices{
            @include flex-wrap(space-between);
            margin: 0;
            padding:0;
            width:100%;
            

            .item{
                display:flex;
                justify-content: stretch;
                align-items: center;
                @include shadow;
                height: 60px;
                width:100%;
                max-width: 360px;
                background-color: #fff;
                border-radius: 15px;
                margin:1em 0 0 0;
                border: none;
                padding: 0;
                cursor: pointer;
                overflow: hidden; 
                animation: fadein 1.5s backwards;
                @for $i from 1 through $num-item {
                    &--#{$i} {
                        animation-delay: $anim-delay1 * $i;
                    }
                }

            @keyframes fadein{
                0%{
                    opacity:0;
                }
                100%{
                    opacity:1;
                }
            }
               

                .item-details{
                    display:block;
                    width: 83%;
                    text-align: left;
                    overflow:hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    padding-left:.8em;                
                }


                .slider{
                    display: flex;
                    height:100%;
                    width:fit-content;
                    padding:0;
                    margin-right:-120px;
                    transition: .6s;
             
                    .price{
                        font-size: 15px;
                        font-weight: 600;
                        background-color: #fff;
                        padding:2.1em 1.2em 0em;
                        width:55%;
                    }

                    .checkbox{
                        height:100%;
                        width:45%;
                        padding:1.25em 1em;
                        background-color: $third-color;
                        text-align: center;
                        border-top-right-radius: 15px;
                        border-bottom-right-radius: 15px;
                        
                        

                        .fas{
                            font-size: 20px;
                            color: #fff;
                            transition: transform .7s;
                            
                        }

                    }

                }

                &:hover .slider{
                    margin-right:0px;

          
                    .fas{
                        transform: rotate(360deg);
                    }
                
                }

            }

        }

    }

}


