@import "./utils/variables";
@import "./utils/mixins";
@import "./base/typography";
@import "./components/loader";
@import "./layouts/header";
@import "./layouts/footer";
@import "./pages/home";
@import "./components/button";
@import "./components/like";

.img{
    @include img;
}

.menu{
    background-color: lighten($grey,50);
    padding: 2em 1.2em 2em;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    width:100%;
    margin-top:-40px;
    z-index:20;
    position:relative;

    .title{
        @include flex-wrap(space-between);
        align-items: baseline;
        padding-right: .5em;

        .name{
            font-family: 'shrikhand', sans-serif;
            font-size: 28px;
            font-weight: 500;
        }
    }

    .dish{
        padding-top:2em;

        .dish-type{
            font-size: 18px;
        }

        .choices{
            @include flex-wrap(space-between);
            margin: 0;
            padding:0;
            width:100%;

            .item{
                @include flex-wrap(space-between);
                @include shadow;
                text-align: left;
                height: 60px;
                width:100%;
                max-width: 400px;
                background-color: #fff;
                border-radius: 15px;
                margin:1em 0 0 0;
                border: none;
                padding: 0 1.2em 0 .8em;
                overflow:hidden;
                text-overflow: ellipsis;

                .item-details{
                    display:flex;
                    flex-direction: column;
                    align-items: baseline;
                    justify-content: center;
                    padding: .5em 0 .5em;
                    width:270px;
                    max-height:55px;
                   

                }

                .price{
                    margin:0;
                    position:relative;
                    align-self:flex-end;
                    padding-bottom: .6em;
                    margin-left:.5em;
                    font-weight: 600;
                    font-size: 16px;
                }
            }
        }
    }
}

