* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  display: block;
  margin: 0;
  width: 100%;
  font-size: 16px;
  font-weight: 600;
  color: #000000;
  background: #fff;
}

a {
  text-decoration: none;
  color: #fff;
}

ul {
  margin: 0;
  list-style: none;
  padding: 0;
}

li {
  padding-bottom: 0.5em;
  font-weight: 300;
}
li :hover {
  transform: scale(2);
  transition: 0.4s;
  cursor: pointer;
  font-weight: 800;
}

h1 {
  font-size: 24px;
  font-weight: 800;
  margin: 0;
}

h2 {
  font-size: 18px;
  font-weight: 400;
  margin: 0;
  color: #747373;
}

h3 {
  font-size: 24px;
  font-weight: 800;
  margin: 0.5em 0 0.5em;
}

h4 {
  font-size: 18px;
  font-weight: 800;
  margin: 0;
  color: #000;
}

h5 {
  font-size: 16px;
  font-weight: 400;
  margin: 0;
  color: #747373;
}

.loader-container {
  display: block;
  position: absolute;
  margin: 0;
  width: 100%;
  height: 250%;
  background: linear-gradient(to right, #FF79DA, #9356DC);
  animation: 3s linear 3s 1 forwards hide;
}
.loader-container .loader {
  animation: spin 1s infinite linear;
  border: solid 2vmin transparent;
  border-radius: 50%;
  border-right-color: #9356dc;
  border-top-color: #9356dc;
  box-sizing: border-box;
  height: 20vmin;
  left: calc(50% - 10vmin);
  position: fixed;
  top: calc(50% - 10vmin);
  width: 20vmin;
  z-index: 1;
}
.loader-container .loader:before {
  animation: spin 2s infinite linear;
  border: solid 2vmin transparent;
  border-radius: 50%;
  border-right-color: #ff79da;
  border-top-color: #ff79da;
  box-sizing: border-box;
  content: "";
  height: 16vmin;
  left: 0;
  position: absolute;
  top: 0;
  width: 16vmin;
}
.loader-container .loader:after {
  animation: spin 3s infinite linear;
  border: solid 2vmin transparent;
  border-radius: 50%;
  border-right-color: #99e2d0;
  border-top-color: #99e2d0;
  box-sizing: border-box;
  content: "";
  height: 12vmin;
  left: 2vmin;
  position: absolute;
  top: 2vmin;
  width: 12vmin;
}
@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
@keyframes hide {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.header {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  padding: 1rem;
}
.header .logo {
  display: block;
}
.header .logo img {
  width: 170px;
}

.location-container {
  padding: 1em;
  margin: 0;
  display: flex;
  justify-content: center;
  background-color: #e6e6e6;
  box-shadow: inset 0 15px 15px -20px #747373;
}
.location-container form {
  display: flex;
  justify-content: center;
  width: 180px;
  padding-left: 1.8em;
}
.location-container form .icon-map {
  padding: 0 0.5em 0;
}
.location-container form input {
  display: block;
  border: none;
  outline-style: none;
  background-color: transparent;
  font-size: 16px;
  font-weight: 600;
}

.presentation {
  padding: 1em;
  margin: 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  background-color: #f3f3f3;
}
.presentation .presentation-title {
  text-align: center;
  padding: 1em 3em 0;
}
.presentation .presentation-subtitle {
  text-align: center;
  margin: 1em 0 1em;
}
.presentation .explore {
  margin: 1em 0 3em;
  height: 45px;
  border: none;
  border-radius: 20px;
  background: linear-gradient(170deg, #FF79DA, #9356DC);
  box-shadow: 0 4px 15px -4px #747373;
  cursor: pointer;
}
.presentation .explore:hover {
  filter: brightness(112%);
  box-shadow: 0px 4px 10px 1px #747373;
}
.presentation .button-text {
  color: #fff;
  padding: 1em;
  font-weight: 600;
  font-size: 16px;
}

.functioning {
  background-color: #fff;
  padding: 2em 1.5em 2em;
}
.functioning .box-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  margin-top: 1.5em;
  padding-left: 0.6em;
}
.functioning .box-container .box {
  display: flex;
  width: 320px;
  height: 70px;
  border-radius: 20px;
  background: #f3f3f3;
  align-items: center;
  margin: 0 auto 1.8em;
  box-shadow: 3px 3px 15px -4px #747373;
  cursor: pointer;
}
.functioning .box-container .box:hover {
  background: #e4d5f6;
  box-shadow: 3px 3px 15px -1px #747373;
}
.functioning .box-container .box:hover:hover .fas {
  color: #9356DC;
}
.functioning .box-container .box .step-number {
  background: #9356DC;
  color: #fff;
  font-weight: 400;
  border-radius: 50px;
  margin-left: -10px;
  padding: 0.25em 0.5em 0.25em;
}
.functioning .box-container .box .icon {
  padding: 0 1.5em 0;
}
.functioning .box-container .box .icon .fas {
  color: #747373;
  font-size: 1.3em;
}

.section2 {
  background-color: #f3f3f3;
  padding: 2em 1.5em 2em;
}

.restaurants .map {
  display: flex;
  flex-flow: row wrap;
  height: 230px;
  max-width: 324px;
  background-color: #fff;
  box-shadow: 3px 3px 15px -4px #747373;
  border-radius: 20px;
  margin: 1em auto 1.5em;
}
.restaurants .map .rest-img {
  width: 100%;
  height: 72%;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  overflow: hidden;
}
.restaurants .map .rest-img .img-container {
  display: block;
  position: relative;
  width: 324px;
  height: 300px;
}
.restaurants .map .rest-img .img-rest {
  display: block;
  position: relative;
  width: 100%;
  height: auto;
  object-fit: cover;
  margin-top: -2.9em;
}
.restaurants .map .rest-img .new {
  display: block;
  position: relative;
  top: -250px;
  right: 16px;
  background-color: #99E2D0;
  color: #278870;
  padding: 0.4em 0.8em 0.3em;
  font-size: 15px;
  box-shadow: 8px 8px 10px -5px #000;
}
.restaurants .map .rest-text {
  display: flex;
  padding: 0 1em 0;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 28%;
}
.restaurants .map .rest-text .rest-details {
  display: flex;
  flex-direction: column;
}
.restaurants .map .rest-text .like {
  margin: 0 0.5em 0.4em;
}
.restaurants .map .rest-text .like .fas::before {
  display: none;
}
.restaurants .map .rest-text .like:hover .fas::before {
  display: inline;
}
.restaurants .map .rest-text .like:hover .far::before {
  display: none;
}
.restaurants .map .rest-text .like .fa-heart {
  font-size: 32px;
  color: #9356DC;
  display: block;
  background: grey;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.restaurants .map .rest-text .like .fa-heart:hover {
  background: -webkit-linear-gradient(#9356DC, #FF79DA);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.footer {
  background-color: #000;
  padding: 1.8em;
}
.footer .logo-footer {
  color: #fff;
  font-family: "shrikhand", sans-serif;
  font-weight: 200;
  font-size: 20px;
  padding-bottom: 1.4em;
}
.footer .li1 {
  font-weight: 500;
}
.footer .li1 .fas {
  font-size: 0.9em;
  padding-right: 0.8em;
}

/*# sourceMappingURL=style.css.map */
