.colored-btn {
    display:block;
    margin:1em 2em 3em;
    height:45px;
    border:none;
    border-radius: 20px;
    background: $linear-gradient; 
    box-shadow:0 4px 15px -4px $grey;
    cursor:pointer;

@media (min-width: 600px) {
    height:65px;
    border-radius: 30px;
}
    
    .button-text {
        color: #fff;
        padding: 1em;
        font-weight: 600;
        font-size: 16px;

    @media (min-width: 600px) {
        font-size: 18px;
    } 
    }  
        

    &:hover{
        filter: brightness(112%);
        box-shadow:0px 4px 10px 1px $grey;
        }
}