.like{
    margin:0 .5em;
    position:relative;
    min-width: 26px;
    min-height: 26px;
    cursor:pointer;

    @media (min-width: 600px) {
        margin-right: .6em;
        margin-bottom: .3em;
    }

    i{
        position:absolute;
        top:0;
        left:0;
    }

    .fas {
        background: linear-gradient($primary-color, $secondary-color);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        clip-path: circle(0%);
        transition: all .8s;
    }

    .fa-heart{
        font-size: 26px;
        display: block;
        color: $grey;

    @media (min-width: 600px) {
        font-size: 30px;
        margin-right:4em;
    }

    }

    &:hover .fas{
        clip-path: circle(100%);
    }

}