@mixin shadow($shadow-spread: -4px){
    box-shadow: 3px 3px 15px $shadow-spread $grey;
}

@mixin flex-wrap($content:center){
    display:flex;
    flex-flow: row wrap;
    justify-content: $content;
}

@mixin img-container($margin-top:0px){
    position:relative;
    width:100%;
    margin-top:0px;
    height:auto;
}

@mixin img{
    display:block;
    position:relative;
    width:100%;
    height:auto;
    object-fit: cover;
}