// Footer

.footer {

    width:100%;
    background-color: #000;
    padding:1.5em;

    .logo-footer{
        color:#fff;
        font-family: 'shrikhand', sans-serif;
        font-weight: 200;
        font-size: 20px;
        padding-bottom: 1.4em;
    }

    .li1 {
        font-weight: 500;

            .fas{
                font-size:0.9em;  
                padding-right: 0.8em; 
            }
    }
}