

// Header

.header {
    position: relative;
    padding:1rem;
    background-color: #fff;
    text-align: center;

@media (min-width: 768px) {
    text-align: left;
}

@media (min-width: 1024px) {
    max-width: fit-content;
}

    .logo {
    display:block;


        i{
            font-size: 1.2em;
            position:absolute;
            top:20px;
            left: 20px;
            cursor:pointer;

        }  
              
        img{
        width:170px;

        @media (min-width: 768px) {
            width: 150px;
            margin: 0 1.5em;
        }

        @media (min-width: 894px) {
            width: 200px;
            margin: 0 1.5em;
        }

        @media (min-width: 1024px) {
            width: 160px;
            margin: 1em 1.5em;
        }

        }
    }
}