

// Header

.header {
    position: relative;
    padding:1rem;
    background-color: #fff;
    text-align: center;

@media (min-width: 768px) {
    text-align: left;
    padding: 0;
    margin: 1.8em 2em 1.5em;
}

@media (min-width: 1024px) {
    max-width: 35%;
    
}

@media (min-width: 1200px) {
    max-width: 100%;
    width:1200px;
    order:1;
}

    .logo {
    display:block;


        i{
            font-size: 1.2em;
            position:absolute;
            top:20px;
            left: 20px;
            cursor:pointer;

        }  
              
        img{
        width:170px;

        @media (min-width: 768px) {
            width: 160px;
        }

        @media (min-width: 1200px) {
            width: 140px;
        }

        }
    }
}